@media (min-width: 980px) {
    .card > *:first-child {
        margin-left: 87px;
    }
}
.card-title {
    margin-bottom: 28px;
    font-size: 1.11em;
    line-height: 24px;
    border-right: 4px solid #00DE9A;
    padding-right: 5.5px;
}
@media (max-width: 640px) {
    .card-title {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .card > *:first-child {
        margin-bottom: 46.8px;
    }
}