.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-space-between {
    justify-content: space-between;
}
.flex-space-evenly {
    justify-content: space-evenly;
}
.flex-justify-center {
    justify-content: center;
}
.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-auto {
    flex: 1 1 auto;
}
@media (max-width: 680px) {
    .flex-column-m {
        flex-direction: column;
    }
    .flex-row-m {
        flex-direction: row;
    }
    .flex-column-reverse-m {
        flex-direction: column-reverse;
    }
}