/* Grid Gap = 16px */
/* Grid Columns = 12 */

.grid-wrapper {
    display: flex;
    max-width: 100%;
    /* overflow: hidden; */
    /* margin: 0 -16px; */
    flex-wrap: wrap;
    height: inherit;
    grid-gap: 16px;
    justify-content: space-between;
}
/* .grid-wrapper > * {
    margin: 0 8px;
} */
.clear-gap {
    grid-gap: 0;
}
.clear-row-gap {
    grid-row-gap: 0;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

.col-m-expand, .col-d-expand {
    max-width: 100%;
}

.col-1 {
    flex: 1;
}
.col-15 {
    flex: 1.5;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
@media (min-width: 768px) {
    .d-hidden {
        display: none;
    }
}
@media (max-width: 768px) {
    .col-1 {
        flex-basis: 100%;
    }
    .col-expand-m {
        flex-basis: 100%;
    }
    .m-hidden {
        display: none !important;
    }
}

@media (max-width: 640px) {
    .col-expand-s {
        flex-basis: 100%;
    }
}